## This file should be installed as:
##
##   /lib/systemd/system/algorand@.service
##
## and then running "systemctl daemon-reload".
##
## To enable and start algod for a particular directory, run:
##
##   systemctl enable algorand@$(systemd-escape /home/algo/algorand/testnet/data/relay)
##   systemctl start algorand@$(systemd-escape /home/algo/algorand/testnet/data/relay)
##
## This assumes a directory layout where the algod binary lives at
## /home/user/node/algod, and the data lives under
## /home/user/node/data.
##
## To allow the update script (which runs as the current user) to manipulate
## the algorand systemd service, the following lines need to be added to
## /etc/sudoers (using visudo):
##
##   algo ALL=(ALL) NOPASSWD: /usr/bin/systemctl start *
##   algo ALL=(ALL) NOPASSWD: /usr/bin/systemctl stop *
##   algo ALL=(ALL) NOPASSWD: /usr/bin/systemctl restart *
##   algo ALL=(ALL) NOPASSWD: /usr/bin/systemctl status *
##
## On an Ubuntu machine, replace /usr/bin/systemctl with /bin/systemctl.
##
## We do not use systemd user services because they are disabled in CentOS.

[Unit]
Description=Algorand daemon under %I
After=network.target
AssertPathExists=%I

[Service]
ExecStart=%I/../algod -d %I
PIDFile=%I/algod.pid
User=algo
Group=algo
Restart=always
RestartSec=5s
ProtectSystem=full

[Install]
WantedBy=multi-user.target
