[Unit]
Description=auto-update algorand under %I every hour

[Timer]
# Run hourly
OnCalendar=*-*-* *:00:00
Persistent=true
Unit=algorand-update@.service

[Install]
WantedBy=timers.target
